body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.under-construction {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}
